@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "TeamSolidHw";
  src: url("../assets/fonts/teamsolid-handwrite.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background-color: rgb(254, 249, 231);
}

a {
  text-decoration: none;
}

.loginpage {
  height: 100vh;
  width: auto;
}

.logo {
  font-family: "TeamSolidHw";
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  margin-bottom: -70px;
  margin-top: 15px;
}

@media only screen and (max-width: 750px) {
  .logo {
    margin-bottom: 10px;
  }
}
