$primary: #fe2d5b;
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "TeamSolid";
  // src: url("../src/assets/fonts/teamsolid-light.woff") format("woff");
  src: url("../assets/fonts/teamsolid-light.woff") format("woff");

  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TeamSolid";
  src: url("../assets/fonts/teamsolid-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TeamSolid";
  src: url("../assets/fonts/teamsolid-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TeamSolidHw";
  src: url("../assets/fonts/teamsolid-handwrite.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.f-wrap {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

body {
  font-size: large;
  background: linear-gradient(123deg, #fffcac 0%, #ffffff 67%),
    linear-gradient(180deg, #d8d8d8 0%, #6b0000 100%),
    linear-gradient(
      142deg,
      #f9f5f0 0%,
      #f9f5f0 33%,
      #f2ead3 calc(33% + 1px),
      #f2ead3 56%,
      #f4991a calc(56% + 1px),
      #f4991a 62%,
      #321313 calc(62% + 1px),
      #321313 100%
    );
  background-blend-mode: multiply, overlay, normal;
  font-family: "TeamSolid";
  color: black;
  .card {
    background-color: rgb(253, 235, 208);
  }
}
.logo {
  font-family: "TeamSolidHw";
  font-weight: bold;
}

#carouselExampleControls {
  box-shadow: 3.7px 1.6px 13.8px rgba(0, 0, 0, 0.098),
    8.8px 3.9px 33.3px rgba(0, 0, 0, 0.141),
    16.5px 7.3px 62.6px rgba(0, 0, 0, 0.175),
    29.5px 13px 111.7px rgba(0, 0, 0, 0.209),
    55.1px 24.2px 208.9px rgba(0, 0, 0, 0.252),
    132px 58px 500px rgba(0, 0, 0, 0.35);
}

.navbar{
  background: rgba(135, 135, 135, 0.75);
}

.navbar-text {
  font-weight: bold;
}

.image-container {
  height: 100%;
  width: auto;
}

.spinner {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount {
  background-color: rgb(255, 0, 0);
  margin-bottom: 50px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 1.2rem;
  border-radius: 6px;
  color: #fff;
}

.wishlist {
  height: 25px;
  width: 25px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first {
  position: absolute;
  width: 100%;
  padding: 9px;
}

.dress-name {
  font-size: 1rem;
  font-weight: bold;
  width: 75%;
}

.new-price {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.old-price {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(128, 128, 128);
  text-decoration: line-through;
}

.item-size {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgb(128, 128, 128);
  color: rgb(128, 128, 128);
  font-size: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rating-number {
  font-size: 1.1rem;
  color: rgb(128, 128, 128);
}

.discount-percent {
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  top: 5px;
}

.rating-star {
  margin-bottom: 0.3rem;
  color: rgb(218, 165, 32);
}

.off {
  font-size: 14px;
  position: relative;
  bottom: 5px;
}
