$primary: #fe2d5b;
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "TeamSolid";
  src: url("../assets/fonts/teamsolid-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "TeamSolid";
  src: url("../assets/fonts/teamsolid-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TeamSolid";
  src: url("../assets/fonts/teamsolid-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: beige;
  font-family: "TeamSolid";
}

.text-uppercase {
  font-weight: bold;
}

.pdp-container {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one*/

  display: flex;
  align-items: center;
}
.card {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.product {
  background-color: #eee;
}

.back-arrow {
  margin-right: 10px;
  filter: invert(25%) sepia(88%) saturate(2299%) hue-rotate(330deg)
    brightness(101%) contrast(99%);
}

.brand {
  font-size: 13px;
}

.act-price {
  font-size: 17px;
  text-decoration: line-through;
  color: gray;
}

.dis-price {
  font-size: 23px;
  color: $primary;
  font-weight: 700;
}
.disrate {
  font-size: 13px;
}

.about {
  font-size: 14px;
}

.color {
  margin-bottom: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 2px 9px;
  border: 2px solid #ff0000;
  display: inline-block;
  color: #ff0000;
  border-radius: 3px;
  text-transform: uppercase;
}

label.radio input:checked + span {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff;
}

.btn-danger {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}

.btn-danger:hover {
  background-color: #da0606 !important;
  border-color: #da0606 !important;
}

.btn-danger:focus {
  box-shadow: none;
}

.cart i {
  margin-right: 10px;
}

.col-md-6 {
  margin-top: 50px;
}
.rating-star {
  margin-bottom: 0.3rem;
  color: gold;
}
